@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

$white-pop: #FDF8E6;
$dark-grey: #282A3A;


body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background: rgb(223,118,203);
    background: linear-gradient(90deg, rgba(223,118,203,1) 0%, rgba(185,144,10,1) 46%, rgba(0,212,255,1) 100%);
}

h1, h4{
    text-align: center;
    font-family: "Lato", sans-serif;
    color: $white-pop;
}

h1 {
    font-weight: 900;
    font-size: 4vh;
}

h4 {
    font-weight: 400;
    font-size: 3vh;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 3vmax;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin-top: 2vmax;
}

.card {
    width: 6vmax;
    height: 6vmax;
    font-size: 4vmax;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.card-front,
.card-back {
    position: absolute;
    border-radius: 5px;
    width: 6vmax;
    height: 6vmax;
    background: $dark-grey;
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.card-back {
    text-align: center;
    line-height: 6vmax;
    background: $white-pop;
    transform: rotateY(180deg) rotateZ(50deg);
    user-select: none;
}

.card.flipped .card-front {
    transform: rotateY(180deg) rotateZ(50deg);
}

.card.flipped .card-back {
    transform: rotateY(0) rotateZ(0);
}